.btn-container {
  text-align: center;
  margin: 25px auto 0px auto;
}
 
#app {
  width: 80%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  text-align: center;
}
